.Dictionary form .searchBox {
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/149/731/original/Beige_and_Orange_Creative_Dictionary_Book_Instagram_Post_%282%29.png?1731015780");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-indent: 25px;
}
